.parentDiv{
    /* height: 200px; */
    width: 500px;
    background: red;
    padding: 20px;
    border: 1px solid black;
    margin: 100px;
}

.childDiv{
    height: 50px;
    width: 50px;
    background: blue;
    border: 1px solid yellow;
    margin: 100px;
}

.heading{
    background-color: blueviolet;
    text-align: center;
}